<section class="section contactUs">

    <div class="contact">
     <span class="copywrite">&#169;Eagle Community Parks & Recreation 2021</span>
    </div>
     <div class="foot_nav">
     <span><a class="<%= path === '/about' ? 'active' : '' %> foot_nav_item" href="/about">Contact Us</a></span>
    </div>
</section>
</body>

</html>