<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Eagle Community Page. We are glad you are apart of our community.
    Here in Eagle, we pride ourselves on striving to be a fun and interactive community that welcomes all.
    We enjoy getting our community together as much as possible, as we believe a friendly community 
    creates the ideal setting for the youth here. Here on our community page, you will find a variety 
    of activities for a variety of ages. We have toddler time to senior date nights weekly, and 
    everything in between. Join us during the summer months for movies in the park on the third 
    Saturday of every month, or in the winter for ice skating!">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="../../public/img/favicon.ico"/>