.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #1C78A3;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}
form.about-form{
  display: block;
  margin: auto;
  padding: 15px 20px;
  border:1px solid;
}

@media (min-width: 768px){
  form.about-form{
  
    width: 54%;
 
  }
}