@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #faf0e6;
}

main {
  padding: .5rem;
  width: 100%;
  margin: auto;
  background-color: rgba(188, 188, 130, 0.4);
  background-blend-mode: lighten;
}

nav{
  display: flex;
}

.aboutUsSec{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.welcome{
  display: flex;
}

.about{
  text-align: justify;
  text-align-last: left;
  padding-right: 1rem;
}

.family{
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
 width: 100%;
  max-width: 800px;
  height: auto;
}

hr{
  border-top: 4px solid #faf0e6;  
}


.pagination {
  margin: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #1c78a3;
  padding: 0.5rem;
  border: 1px solid #1c78a3;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #1c78a3;
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width: 1400px){
  .family{
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 1200px){
  .family{
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 1000px){
  .family{
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 768px){
  main{
    margin: auto;
  }
  .slideshow-container{
    display: none;
  }
  .dot{
    display: none;
  }

  .aboutUsSec{
    text-align: center;
  }
  .aboutUsSec .about{
    text-align: center;
  }

h3{
  text-align: center;
} 
 
  .family{
    display: none;
  }

  .eagle{
    width: 100%;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}

 
}



form {
  display: inline;
}

.centered {
  text-align: center;
}

.centered img {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.logo{
height: 5rem;
padding-left: -10px;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #faf0e6;
  padding: 0 4rem;
  display: flex;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  
  display: none;
  align-items: center; 
  justify-content:space-evenly;
}

.main-header__nav ul sub{
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
} 



 .main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
}

.main-header__item {
  margin: 0 2rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: grey;
  cursor: pointer;
  display: flex;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: white;
  background-color: #1c78a3;
  padding:5px;
  
} 
/*
.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: .05rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #1c78a3;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  margin: auto;
  width: 100%;
  height: 3rem;
  border: 0.5px solid black;
  font: inherit;
  padding: 1rem;
  display: block;
  background-color: rgba(188, 188, 130, 0.4);
  color: #1c78a3;
  font-weight: 500;
 
  cursor: pointer;
  align-items: center;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: white;
  background-color: #1c78a3;
} */

/*drop down mobile menu */

.dropdown{
  display: none;
}
/*admin dropdown*/
.admin_dropdown{
  float:left;
  overflow:hidden;
}

.admin_dropdown, .admin_btn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: grey;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.admin_dropdown-content a:hover, .admin_dropdown:hover .admin_btn {
  background-color: #1c78a3;
  color:white;
}

.admin_dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.admin_dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.admin_dropdown-content a{
  background-color: #ddd;
}


.admin_dropdown:hover .admin_dropdown-content{
  display: block;
}

/* Dropdown Button */
@media screen and (max-width: 700px) {
  .dropbtn {
    margin-bottom:30px;
    background-color: #1c78a3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .logout_btn{
    padding-bottom: 10px;
    margin:20px;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #1c78a3;}
  /*end mobile nav*/
  
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #faf0e6;
}

.card:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__image img {
  display: flex;
  justify-content: center;
  max-height: 55vh;
  width: auto;
  padding: 1rem 0;
  margin: 0;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.card__product-detail {
  max-width: 50%;
}

.spacing {
  padding: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #1c78a3;
  color: #1c78a3;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #1c78a3;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #14a383;
  padding: 0.5rem;
  border-radius: 3px;
  background: #80beb1;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

.contactUs{
  display:flex;
  justify-content: space-evenly;
  background-color: rgba(28, 120, 163, 0.6);
  border:transparent;
  border-radius: 2px;
  padding: .5rem;
  text-align: center;
  font-size:.05em;
}
.foot_nav_item{
  color:#ffffff;
  text-decoration: none;
  font-size: .05em;
}
.contactUs{
 margin-top: 20px;
}
.aboutUs{
  margin: auto;
  padding-bottom: 50px;
}
hr{
 border-top:1px solid black;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }

  /* Slideshow container */
.slideshow-container {
  width: 100%;
  align-items: center;
  margin: auto;
  padding-top: .5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

img {vertical-align: middle;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.contactUs,.foot_nav_item{
  font-size:1em;
}

}
