<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Oops! An Error Occurred</h1>
    <p>Sorry for the inconvenience.<br>
    We are quckily working to solve the problem.</p>


    <%- include('includes/end.ejs') %>