.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    padding:10px;
    background-color: #fccf22;
    background-image: linear-gradient(
    180deg, rgba(252,207,34,1.00) 0%, rgba(209,179,61,1.00) 100%);
    text:#441c79;
    border:1px solid #441c79;
    border-radius:5px;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

